<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 offset-md-3">
              <mat-card>
                <div class="container text-center">
                    <img width="150px" src="assets\exam portal sign up img.avif" alt="Image" />
                </div>
                <h1 class="text-center">Register here!!</h1>
                <form (ngSubmit)="formSubmit()">
                    <!-- Username Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input required [(ngModel)]="user.username" name="username"
                         matInput placeholder="Enter Your Unique Username">
                         <mat-hint>User name must be Unique!!</mat-hint>
                      </mat-form-field> 

                      <!-- password Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        required [(ngModel)]="user.password" name="password"
                         type="password" matInput placeholder="Enter Your Password">
                      </mat-form-field> 

                      <!-- First name Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required
                        [(ngModel)]="user.firstname" name="firstname"
                        matInput placeholder="Enter Your Name">
                      </mat-form-field> 

                      <!-- Last Name Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required
                         [(ngModel)]="user.lastname" name="lastname"
                        matInput placeholder="Enter Your Title">
                      </mat-form-field> 

                      <!-- Username Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input required
                        [(ngModel)]="user.email" name="email"
                        type="email" matInput placeholder="What's your email???">
                      </mat-form-field> 

                      <!-- Mobile Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input required
                         [(ngModel)]="user.phone" name="phone"
                        type="number" matInput placeholder="Enter Your Mobile Number">
                      </mat-form-field> 
                      <div class="container text-center mb10">
                        <button type="submit" mat-flat-button color="primary">Register</button>
                        <button class="ml20" mat-raised-button disabled color="accent">Cancel</button>
                      </div>
                </form>
              </mat-card>
            </div>
        </div>
    </div>
</div>