<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row " style="margin: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img width="200px" src="assets\exam portal sign up img.avif" alt="Image" />
                </div>
                <h1 class="text-center">register here</h1>
                <form>
                    <!-- Username Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter Your Unique Username">
                      </mat-form-field> 

                      <!-- password Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter Your Password">
                      </mat-form-field> 

                      <!-- First name Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter Your Name">
                      </mat-form-field> 

                      <!-- Last Name Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Your Title">
                      </mat-form-field> 

                      <!-- Username Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input type="email" matInput placeholder="What's your email???">
                      </mat-form-field> 

                      <!-- Mobile Field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input type="number" matInput placeholder="Enter Your Mobile Number">
                      </mat-form-field> 
                      <div class="container text-center">
                        <button mat-raised-button color="primary">Register</button>
                        <button style="margin: left 200px;" mat-raised-button  color="accent">Cancel</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>