<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img width="150px" src="assets\exam portal sign up img.avif" alt="Image" />
                    </div>
                    <h1 class="text-center">Log In</h1>
                    <form action="">
                        <!-- Username Field -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input required matInput placeholder="Enter Your Unique Username">
                            <mat-hint>Enter Your Valid Username!!</mat-hint>
                        </mat-form-field>

                        <!-- password Field -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Enter Your Password">
                        </mat-form-field>
                        <div class="container text-center mb10">
                            <button mat-flat-button color="primary" type="submit">Login</button>
                            <button class="ml10" mat-flat-button disabled color="accent">Reset</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>